*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box{
    background: #2a334e;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;

}


.profile-pic{
    width: 200px;          /* Set desired width */
    height: 200px;  
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    object-fit: cover;
    margin-top: 40px;;
    
}

.profile-button{
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    padding: 60px 0px;
    border: 2px solid #fff;
    border-radius: 20px;
    background: #fff;
    color: #999;
    font-size: 16px;
    cursor: pointer;
    margin-top: -10px;
}

.profile-button img{
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-box button{
    background: #fff;
    color: #006bb3;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px



}
.profile-box h3{
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}
.social-media img{
    width: 20px;
    margin: 30px 5px;
    cursor: pointer;
    color:#fff;
}